
.student-list-container {
  padding: 15px 20px;
}

section {
    display: flex;
    flex-wrap: wrap;   
  }

input {
    text-align: center;
    height: 35px;
    width: 133px;
    margin: 10px 20px;
    background-color:#f7f7f7;
    border: 1px solid#eeeeee;
}

h1 {
    margin: 20px 0px;
}